body {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.block {
    margin-bottom: 3rem;
}

pre {
    background-color: var(--bs-gray-800);
    padding: 1rem;
}

.navbar-brand {
    font-size: 2rem;
}

body img {
    max-width: 100%;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}