$white: #ffffff;
$gray: #f4f4f4;
$primary: #007bff;


body {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.block {
    margin-bottom: 2rem;
}

pre {
    // background-color: #f4f4f4;
    padding: 1rem;
}

.nav.flex-column.nav-compact {
    .nav-link {
        padding-top: 1px;
        padding-bottom: 1px;
        &.active {
            background-color: #007bff;
            color: #fff;
        }
    }
}

textarea.simple-edit {
    font-family: monospace;
    min-height: 160px;
    height: calc(100vh - 270px);
    white-space: pre;
    overflow: auto;
}

.col-sidebar {
    overflow: scroll;
}

.container-fluid {
    max-width: 1400px;
}

.fade-out {
    animation: fadeOut 1s forwards;
    animation-delay: 2s;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.EasyMDEContainer {
    .CodeMirror {
        height: calc(100vh - 260px);
    }
    .CodeMirror-fullscreen.CodeMirror {
        height: auto;
    }
}

// dark mode support
.EasyMDEContainer .CodeMirror {
    color: var(--bs-body-color);
    border-color: var(--bs-border-color);
    background-color: var(--bs-body-bg);
}
.EasyMDEContainer .cm-s-easymde .CodeMirror-cursor {
    border-color: var(--bs-body-color);
}

.CodeMirror-cursor {
    border-left:1px solid var(--bs-body-color);
    border-right:none;width:0;
}

.EasyMDEContainer .editor-toolbar > * {
    border-color: var(--bs-body-bg);
}

.editor-toolbar {
    border-top: 1px solid var(--bs-border-color);
    border-left: 1px solid var(--bs-border-color);
    border-right: 1px solid var(--bs-border-color);
}

.editor-toolbar i.separator {
    border-left: 1px solid var(--bs-border-color);
    border-right: 1px solid var(--bs-border-color);
}

.EasyMDEContainer .editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment {
    background-color: var(--bs-body-bg);
}

.EasyMDEContainer .CodeMirror-fullscreen {
    background: var(--bs-body-bg);
}
.editor-toolbar.fullscreen {
    background: var(--bs-body-bg);
}

.editor-preview {
    background: var(--bs-body-bg);
}

.editor-preview-side {
    border-color: var(--bs-border-color);
}

.CodeMirror-selected {
    background: var(--bs-secondary-bg);
}

.CodeMirror-focused .CodeMirror-selected {
    background: var(--bs-secondary-bg);
}

.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection {
    background:var(--bs-secondary-bg)
}

.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection {
    background:var(--bs-secondary-bg)
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
    background: var(--bs-secondary-bg)
}